# Log files
*.log

# Dependency directory
/node_modules/
/bower_components/

# Sublime Text project files
/*.sublime-project
/*.sublime-workspace

# IntelliJ project files
*.iml
*.ipr
*.iws
/.idea/

# Compiled files
/dist/