doctype html
//html(lang="ko", ng-controller="appController")
html(lang="ko")
  head
    meta(charset="utf-8")
    title(ng-bind="title") Jang Heejae
    style @import url(./css/style.css);
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    header
      h1 Jang Heejae
      h2 Front-end Web Developer
      a(href="https://github.com/J132134") Follow me on GitHub.
      a(href="http://j132134.cafe24.com/") Go to my blog.

    section
      | hello world!

    footer
      p Developed by Jang Heejae.
      a(href="mailto:j132134@gmail.com") Email to Me

    //-script(src="./bower_components/requirejs/require.js", data-main="./js/main")